



@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




.Navbar .navbar {
  background-color: rgba(165, 68, 255, 0.247);
  width: 100%;
}

.Navbar .navbar-brand {
  width: 100px;
}

.Navbar .navbar-toggler {
  border: box-sizing(0, 0, 0, 0);
  background-color: transparent;
  outline: none;
  color:  #ffffff;
}

.play-button {
  background-color: #ae00ff; /* Bright red, change as needed */
  color: white;
  border: 3px solid black;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 3px 3px 0 black;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive; /* A font that mimics retro gaming styles */
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button .fa-icon {
  margin-left: 5px;
}

.play-button:hover {
  background-color: rgb(54, 120, 219); /* Slightly darker red on hover */
}

/* Pixelated effect */
.play-button {
  image-rendering: pixelated;
}



.Navbar .navbar-nav .nav-item {
  margin-right: 15px;
}



/* Default style for desktop */
.Navbar .nav-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Press Start 2P';
}

/* Style for mobile screens (e.g., screens with a maximum width of 768px) */
@media (max-width: 768px) {
  .Navbar .nav-link {
    color: #000000; /* Set the color to black for mobile */
  }
}


.Navbar .nav-link:hover {
  color: rgb(46, 139, 245);
  text-shadow: 0 0 20px rgb(83, 162, 252);
}

.btn {
  margin-right: 10px;
  color: #ffffff;
}

.btn:focus {
  outline: none;
  color: #ffffff;

}

.btn .bi {
  vertical-align: middle;
  color: #ffffff;
  font-size: 20px;
}

.custom-toggler-icon {
  color: white !important;
}



.btn .bi:hover {
  color: rgb(61, 126, 245);
  color: #ffffff;

}

// /* Sticky Styles */
// .Navbar.sticky {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba(255, 255, 255, 0.76);
//   z-index: 1000;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }


// .Navbar.sticky .navbar {
//   background-color: transparent;
// }

//  .Navbar.sticky .navbar-brand,
//  .Navbar.sticky .navbar-nav .nav-item,
//  .Navbar.sticky .btn .bi {
//   color: #161616;
//  }

// .Navbar.sticky .nav-link:hover,
// .Navbar.sticky .btn .bi:hover {
//   color: rgb(165, 42, 223);
//   text-shadow: 0 0 10px rgba(162, 40, 219, 0.4);}

  
// /* Responsive styles */
// @media (max-width: 991px) {
//   .navbar-nav {
//     flex-direction: column;
//   }

//   .nav-link {
//     margin-bottom: 10px;
//   }

//   /* Update the position of the navbar-toggler */
//   .Navbar.sticky .navbar-toggler {
//     position: fixed;
//     top: 10px; /* Adjust as needed */
//     left: 0px; /* Adjust as needed */
//   }
// }